<div class="card mb-3" style="max-width: 540px">
    <div class="row no-gutters">
        <div class="col-md-4 my-auto">
            <img class="card-img" src="{{ circle.image.url }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="/circle/{{circle.slug}}">{{ circle.name }}</a></h5>
                <p>{{ circle.description }}</p>
                <p><a href="{{circle.twitter_url}}" target="_blank">Twitter</a></p>
                <p><a href="{{circle.insta_url}}" target="_blank">Instagram</a></p>
            </div>
        </div>
    </div>
</div>
{% if request.user == circle.owner %}
<div><a href="/circle/{{circle.slug}}/edit">edit</a></div>
{% endif %}