{% block myCss %}
<style>
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:active {
    color: #007bff;
    border-color: #007bff;
    background-color: #fff;
}

.btn-outline-primary:hover {
    color: #007bff;
    border-color: #007bff;
    background-color: #fff;
}

.social-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0;
}

.social-icons li {
    flex-grow: 1;
    margin-right: 0;
    text-align: left;
    max-width: 22px;
}

.social-icons li + li {
    padding:  0 1rem;
}

.svg-icon {
    max-width: 22px;
    display: inline-block;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 75%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(50, 97, 226);
    margin-top: -4px;
}

input[type=range]:hover:-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(50, 97, 226);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

section {
    margin: 1.5rem 0;
}

.section-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.circle-img {
    height: 200px;
}
/* iPhone 縦 */

@media screen and (min-width:480px) { 
    /*　for iPhone Landscape　(iPhone 横)　*/

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　for iPad 　*/
    .circle-img {
        height: 300px;
    }
}
@media screen and (min-width:1024px) {
    /*　for PC　*/
    .circle-img {
        height: 300px;
    }
}
</style>
{% endblock %}

<div class="card mb-3 shadow">
    <div class="row no-gutters">
        <div class="col-md-6 my-auto circle-img" style="background: center/cover url('{{ circle.image.url }}');">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                {% if not detail %}
                <!-- 一覧ページの場合 -->
                    <h5 class="card-title text-center font-weight-bold">
                        <a href="{% url 'circle:detail-circle-view' slug=circle.slug %}">{{ circle.name }}</a>
                    </h5>
                    <section class="areaCircleParameter">
                        <h5 class="section-title"></h5>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">練習雰囲気</p>
                            <div class="d-flex justify-content-center mx-auto">
                                <p class="mb-0 text-right" style="font-size: 15px;">緩</p>
                                <input type="range" class="form-range w-75" min="0" max="4" value="{{circle.hard}}" disabled>
                                <p class="mb-0" style="font-size: 15px;">真</p>
                            </div>
                        </div>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">テニス経験者</p>
                            <div class="d-flex justify-content-center">
                                <p class="mb-0" style="font-size: 15px;">少</p>
                                <input type="range" class="form-range w-75 " min="0" max="4" style="float: left" value="{{circle.experienced}}" disabled>
                                <p class="mb-0" style="font-size: 15px;">多</p>
                            </div>
                        </div>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">お酒</p>
                            <div class="d-flex justify-content-center">
                                <p class="mb-0" style="font-size: 15px;">無</p>
                                <input type="range" class="form-range w-75 " min="0" max="4" value="{{circle.alcohol}}" style="float: left" disabled>
                                <p class="mb-0" style="font-size: 15px;">呑</p>
                            </div>
                        </div>
                    </section>
                {% else %} 
                <!-- 詳細ページの場合 -->
                    <section class="areaCircleParameter">
                        <h5 class="section-title"></h5>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">練習雰囲気</p>
                            <div class="d-flex justify-content-center mx-auto">
                                <p class="mb-0 text-right" style="font-size: 15px;">緩</p>
                                <input type="range" class="form-range w-75" min="0" max="4" value="{{circle.hard}}" disabled data-toggle="tooltip" data-placement="top" title="{{circle.hard}}">
                                <p class="mb-0" style="font-size: 15px;">真</p>
                            </div>
                        </div>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">テニス経験者</p>
                            <div class="d-flex justify-content-center">
                                <p class="mb-0" style="font-size: 15px;">少</p>
                                <input type="range" class="form-range w-75 " min="0" max="4" style="float: left" value="{{circle.experienced}}" disabled>
                                <p class="mb-0" style="font-size: 15px;">多</p>
                            </div>
                        </div>
                        <div class="bar-container mb-3">
                            <p class="text-center mb-0">お酒</p>
                            <div class="d-flex justify-content-center">
                                <p class="mb-0" style="font-size: 15px;">無</p>
                                <input type="range" class="form-range w-75 " min="0" max="4" value="{{circle.alcohol}}" style="float: left" disabled>
                                <p class="mb-0" style="font-size: 15px;">呑</p>
                            </div>
                        </div>
                    </section>
                    <section class="areaCircleContents ">
                        <h5 class="section-title">アピールポイント</h5>
                        <div class="content">
                            <p>{{circle.description}}</p>
                        </div>
                    </section>
                    <section class="circleInfoTable">
                        <h5 class="section-title">サークル詳細情報</h5>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">人数</th>
                                    {% if circle.members_num %}
                                    <td>{{ circle.members_num }}人</td>
                                    {% else %}
                                    <td>未公開</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">男女比</th>
                                    {% if circle.gender_rate %}
                                    <td>{{circle.gender_rate}}%</td>
                                    {% else %}
                                    <td>未公開</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">年会費</th>
                                    {% if circle.budget %}
                                    <td>{{circle.budget}}円</td>
                                    {% else %}
                                    <td>未公開</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">活動日</th>
                                    {% if circle.practice_date %}
                                    <td>{{circle.practice_date}}</td>
                                    {% else %}
                                    <td>未公開</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">活動場所</th>
                                    {% if circle.practice_place %}
                                    <td>{{circle.practice_place}}</td>
                                    {% else %}
                                    <td>未公開</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="areaSocial">
                        <h5 class="section-title">各種SNS</h5>
                        <ul class="social-icons">
                            {% if circle.twitter_url %}
                            <li><a href="{{circle.twitter_url}}" target="_blank">
                                <span style="color: #1DA1F2;"></span>
                                <i class="fab fa-twitter fa-lg svg-icon"></i>
                            </a></li>
                            {% endif %}
                            {% if circle.insta_url %}
                            <li><a href="{{circle.insta_url}}" target="_blank">
                                <span style="color: #CF2E92;">
                                    <i class="fab fa-instagram fa-lg svg-icon"></i>
                                </span>
                            </a></li>
                            {% endif %}
                            {% if circle.line_url %}
                            <li class="disabled"><a href="{{circle.line_url}}" target="_blank">
                                <span style="color: #00B900;">
                                    <i class="fab fa-line fa-lg svg-icon"></i>
                                </span>
                            </a></li>
                            {% endif %}
                        </ul>
                    </section>
                {% endif %}
                <form action="{% url 'circle:like-circle-view' %}" method="POST" class="like-form" id='{{circle.id}}'>
                    {% csrf_token %}
                    <input type="hidden" name='circle_id' value="{{circle.id}}">
                    {% if request.user not in circle.liked.all %}
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block shadow like-btn{{circle.id}}">
                            Like
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block like-btn{{circle.id}}">
                            Unlike
                        </button>                    
                    {% endif %}
                </form>
                {% if request.user == circle.owner %}
                    <div><a href="/circle/{{circle.slug}}/edit" class="btn btn-primary my-3 shadow">編集する</a></div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% block myJs %}
<script>
    {% if detail %}

    {% endif %}
</script>
{% endblock %}