{% extends "base.html" %}

{% block content %}
{% if title %}
    <h1 class="my-3">{{ title }}</h1>
{% endif %}
<div class="justify-content-center">
    {% for circle in circles %}
        <h3 class="test-center">第{{forloop.counter}}位</h3>
        {% include 'circle/circle-card.html' with circle=circle detail=False %}
    {% empty %}
        <li>現在掲載されているサークルはありません</li>
    {% endfor %}
    <!-- {% include 'components/paginator.html' %} -->
</div>
{% endblock content %}

{% block myJs %}
{% include 'components/like.html' %}
{% endblock %}