{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>

<html lang="ja">

<head>
    <title>サークルファインダー</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Your CSS -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% include './navbar.html' %}

    <div class="container">
        {% include 'messages.html' %}
        
        {% block content %}
        {% endblock content %}
    </div>

    {% include './js.html' %}
    {% block myJs %}
    {% endblock myJs %}
</body>

</html>