{% extends "base.html" %}
{% load staticfiles %}
{% block myCss %}
<style>
.carousel-my-caption {
    background-color:rgba(248,249,250, 0.8);;
    position: absolute;
    right: 15%;
    bottom: 0.5rem;
    left: 15%;
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    text-align: center;
}

.jumbotron-extend {
    background: url(/media/media/image/tennis2.jpg) no-repeat center center;
    background-size: cover;
}
.text{
    text-align: center;
    position:relative;
}
.text h1{
    position:relative;
    text-align: left;
    display: inline-block;
}
.text h7{
    text-align: left;
    display: inline-block;
}
.backimg{
    z-index: -1;
    position:absolute;
    height: auto;
    width:35vw;
}
</style>
{% endblock %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide my-3" data-ride="carousel" data-touch="true">
    <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->

    <div class="carousel-inner">
        {% for circle in circles %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img src="{{ circle.image.url }}" class="d-block slide w-100" style="height: 200px; object-fit:cover;" alt="{{ circle.name}}画像">
                <div class="carousel-my-caption">
                    <p class="m-0 font-weight-bold text-shadow text-dark">{{ circle.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- <div class="jumbotron jumbotron-fluid jumbotron-extend">
    <div class="container-fluid">
        <h1>慶應テニサープラットフォーム</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">CONTACT ME</a></p>
    </div>
</div> -->

<div class="card my-3">
    <div class="card-body p-1">
        <h5 class="card-title text-center">慶應テニサーマップ</h5>
        <img src="{% static "media/image/tennis_map.jpg" %}" class="w-100 card-img">
    </div>
</div>

<!-- Button trigger modal -->
<div class="d-flex justify-content-center my-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">自分に合ったサークルを見つける</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">最適サークル診断</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            {% if request.user.is_authenticated %}
            <div class="modal-body">
                <form action="{% url 'circle:search-circle-view'%}" class="search-form"> {% csrf_token %}
                    <div class="bar-container mb-3">
                        <p class="text-center mb-0">活動</p>
                        <div class="d-flex justify-content-center">
                            <p class="mb-0" style="font-size: 15px;">緩</p>
                            <input type="range" class="form-range w-75 " min="0" max="4" id="hard" style="float: left">
                            <p class="mb-0" style="font-size: 15px;">厳</p>
                        </div>
                    </div>
                    <div class="bar-container mb-3">
                        <p class="text-center mb-0">男女比</p>
                        <div class="d-flex justify-content-center">
                            <p class="mb-0" style="font-size: 15px;">男</p>
                            <input type="range" class="form-range w-75 " min="0" max="4" id="genderRatio" style="float: left">
                            <p class="mb-0" style="font-size: 15px;">女</p>
                        </div>
                    </div>
                    <div class="bar-container">
                        <p class="text-center mb-0">お酒</p>
                        <div class="d-flex justify-content-center">
                            <p class="mb-0" style="font-size: 15px;">無</p>
                            <input type="range" class="form-range w-75 " min="0" max="4" id="alcohol" style="float: left">
                            <p class="mb-0" style="font-size: 15px;">呑</p>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'circle:search-circle-view' %}'">検索する</button>
            </div>
            {% else %}
            <div class="modal-body">
                この機能を使うにはログインが必要です。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'account_login' %}'">ログインする</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<article>
    <div class="contents mt-5">
        <img src="{% static "media/image/puzzle.jpg" %}" alt="" class="backimg ms-5">
        <div class="text pt-5">
            <h2 class="pt-3">サークル探し<br>多すぎてわからない</h2><br><br>
            <div class="text-1">
                <p>慶應のテニスサークルが多すぎて<br>どう探したらいいか分からない...<br>友達増やすためにサークル探し！</p><br>
                <p>自分に合ったサークル探すなら... </p>
                <div class="d-flex justify-content-center my-3">
                    <button onclick="location.href='{% url 'circle:list-circle-view' %}'" class="btn btn-primary">サークル一覧を見る</button>
                </div>
            </div>
        </div>		
    </div>
</article>		
{% endblock content %}

{% block myJs %}
<script>
//id  hard genderRatio alcohol
$(document).ready(function() {
    var $myForm = $(".search-form")
    $myForm.submit(function(e){
        e.preventDefault()
        console.log($(this));
    })
})
</script>
{% endblock %}

