<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">最適サークル診断</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if request.user.is_authenticated %}
            <div class="modal-body">
                <form action="search"> {% csrf_token %}
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                <button type="button" class="btn btn-primary">検索する</button>
            </div>
            {% else %}
            <div class="modal-body">
                この機能を使うにはログインが必要です。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'account_login' %}'">ログインする</button>
            </div>
            {% endif %}
        </div>
    </div>
</div> -->